a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  mat-spinner.spinner {
    position: absolute;
    z-index: 2000;
    right: 24em;
    height: 40px !important;
    width: 40px !important;
    ::ng-deep svg {
      height: 40px !important;
      width: 40px !important;
    }
    ::ng-deep circle {
      stroke: #fff;
    }
  }
}

.message {
  margin-right: 10px;
  .error {
    color: red;
  }
}

[mat-raised-button] {
  margin-right: 10px;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
