<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span fxFlex></span>

  <p>Refaccionaria Jetta</p>
  <span fxFlex></span>

  <a href="tel://011-52-2299382796">
    <mat-icon svgIcon="phone"></mat-icon>
  </a>

  <a href="mailto:jetta_7_lomejor@hotmail.com">
    <mat-icon svgIcon="email"></mat-icon>
  </a>
  <a
    href="https://www.facebook.com/1571670876422021"
    target="_blank"
    rel="noopener noreferrer"
  >
    <mat-icon svgIcon="facebook"></mat-icon>
  </a>
</mat-toolbar>
